main {
  position: relative;
  display: block;
  font-size: 15px;
  background: #343a40;
  top: 56px;
  min-height: 100vh;
  line-height: 1.3;
}

main div {
  text-align: justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

table {
  margin: 0 auto;
}

tr, td {
  padding: 5px 10px;
  border: 1px solid #6c757d;
  text-align: center;
}
